@charset "UTF-8";

$color-text: #6c6c6f;

body {
  color: $color-text;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: (28/16);
  letter-spacing: 0;
  background-color: #fff;
}